#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.coffee-card {
  border: 1px solid #a39b9b;
  border-radius: 10px;
  padding: 18px;
  margin: 20px;
  position: relative;
}

button {
  margin: 6px;
}

img {
  width: 250px;
  border-radius: 40%;
}

.new {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(182, 113, 113);
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
}